rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{userID}/categories-icons/{categoryID} {
      allow create: if 
        isAuthenticated() &&
        isOwner(userID) &&
        request.resource.contentType == 'image/svg+xml' && 
        request.resource.size <= 32 * 1024;

      allow get: if isAuthenticated() && isOwner(userID);
      allow list, update, delete: if false;
    }
  }
}

function isAuthenticated() {
  return request.auth != null;
}

function isOwner(uid) {
  return uid == request.auth.uid;
}